# venv
.venv/

# Python
__pycache__/
*.pyc

# Node
node_modules/

# Secrets / local configs
.env
*.env
rust_config.
rust_config.json
rustplus.config.json
rustplus.local.json
raid_alert.py

# Logs
*.log
logs/
